<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.mab.jwt.mapper.JwtMapper">
<resultMap type="com.mab.jwt.vo.JwtUser" id="JwtUser">
</resultMap>

	<select id="selectUsers" resultMap="JwtUser">
		SELECT
			ju.username,
			ju.password
		FROM jwt_user ju
	</select>
	
	<select id="selectUser" resultMap="JwtUser">
		SELECT
			ju.username,
			ju.password
		FROM jwt_user ju
		WHERE ju.username = #{username}
	</select>
	
	<select id="selectRoles" resultType="String">
		SELECT 
			listagg(jr.rolename, ',') within group (order by 1) as rolename
		FROM 
			jwt_user ju, 
			jwt_permission jp, 
			jwt_role jr
		WHERE ju.id = jp.user_id
		AND jr.id = jp.role_id
		AND ju.enabled = 't'
		AND jp.enabled = 't'
		AND jr.enabled = 't'
		AND ju.username = #{username}
	</select>
	
	<select id="selectIsUrlEnabled" resultType="int">
		SELECT 
			count(*) as enabled
		FROM 
			jwt_policy jp, 
			jwt_role jro,
			jwt_rest jre
		WHERE jro.id = jp.role_id
		AND jp.rest_id = jre.id
		AND jp.enabled = 't'
		AND jro.enabled = 't'
		and jre.rest_url = #{request_url}
		and jp.method_name = #{request_method}
		and jro.rolename = #{rolename}
	</select>
	
	<insert id="insertRefreshToken">
		insert into jwt_token_history (
			seq
			, token
			, reg_id
			, upt_id
		) values (
			jwt_token_history_seq.NEXTVAL
			,  #{token}
			, (select id from jwt_user where username = #{username})
			, (select id from jwt_user where username = #{username})
		)
	</insert>

	<update id="updateRefreshTokenAsUsed">
		UPDATE
			jwt_token_history
		SET
			used = 't',
			upt_id = cast((select id from jwt_user where username = #{username}) as varchar),
			upt_datetime = now()
		WHERE
			token = #{token}
		AND used = 'f'
		AND reg_id = cast((select id from jwt_user where username = #{username}) as varchar)
	</update>
	
</mapper>